@font-face {
  font-family: 'MyFont';
  src: url('../../public/fonts/Magistral-1.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont2';
  src: url('../../public/fonts/Magistral-2.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont3';
  src: url('../../public/fonts/Magistral-3.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont4';
  src: url('../../public/fonts/Magistral-4.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyFont5';
  src: url('../../public/fonts/Magistral-5.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'MyFont';
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}