.wrapper {
    width: 1146px;
    height: 687px;
    position: relative;
    margin: 0 auto;
}

.fon {
    position: absolute;
}

.logo {
    position: absolute;
    left: 20px;
}

.menu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 140px);
    margin-top: 20px;
    padding-right: 30px;
    left: 140px;
}

.contacts {
    display: flex;
    gap: 20px;
    color: white;
}

.now {
    font-family: 'MyFont';
    cursor: pointer;
}

.later {
    font-family: 'MyFont5';
    cursor: pointer;
}

.number {
    color: rgba(255, 197, 61, 1);
    cursor: pointer;
    font-family: 'MyFont2';
}

.content {
    display: flex;
    position: absolute;
    bottom: 40px;
    height: 442px;
    width: 1066px;
    margin-left: 40px;
}

.info {
    width: 518px;
    height: 442px;
}

.headerPng {
    position: absolute;
    right: 20px;
    width: 518px;
    height: 442px;
}

.text {
    width: 518px;
    height: 342px;
}

.svg01 {
    position: absolute;
    top: 0;
}

.svg {
    margin-right: 10px;
}

.font5 {
    color: white;
    font-size: 20px;
    font-family: 'MyFont5';
}

.why {
    color: white;
    font-size: 38px;
    font-family: 'MyFont';
    margin-top: 36px;
    margin-bottom: 40px;
}

.anyText {
    color: white;
    font-size: 16px;
    font-family: 'MyFont5';
    margin-top: 20px;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
}

.flex {
    display: flex;
    align-items: center;
}

.pages {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 518px;
}

.count {
    display: flex;
    gap: 8px;
    color: white;
    padding: 8px 0;
}

.count div {
    font-family: 'MyFont5';
}

.yellow {
    border-right: 1px solid rgba(255, 197, 61, 1);
    padding-right: 8px;
    font-family: 'MyFont5';
}

.arrow {
    display: flex;
    gap: 10px;
}

.arrow div {
    cursor: pointer;
}

.menuSearch {
    display: flex;
    position: absolute;
    top: 85px;
    width: 100%;
    height: 40px;
}

.search {
    width: 812px;
    outline: none;
    border: none;
    margin-left: 138px;
    height: 100%;
    border-radius: 5px;
    padding: 13px 20px;
}

.buttonSearch {
    margin-left: 76px;
    display: flex;
    gap: 20px;
}

.searchBut {
    cursor: pointer;
}

.line {
    position: absolute;
    top: 65px;
    left: 138px;
}

.ellipse {
    position: absolute;
    top: 50px;
    left: 160px;
}