.wrapper {
    width: 100%;
    height: 500px;
    background-color: rgba(44, 48, 49, 1);
    transform: translateY(-130px);
}

.content {
    width: 1146px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    gap: 30px;
    align-items: flex-end;
}

.text {
    width: 558px;
    height: 176px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 104px;
}

.margin {
    width: 100%;
    height: 100%;
}

.text h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 38px;
    font-family: 'MyFont';
}

.text h3 {
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-family: 'MyFont5';
    font-weight: 400;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    height: 45px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(255, 197, 61, 1);
    padding: 10px;
    color: white;
    font-size: 20px;
}

.form input::placeholder {
    color: white;
    font-family: 'MyFont5';
    font-size: 16px;
}

.send {
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    font-family: 'MyFont5';
    font-weight: 400;
    gap: 30px;
}