.wrapper {
    width: 100%;
    height: 403px;
    background-color: rgba(243, 243, 243, 1);
}

.container {
    position: absolute;
    top: 0;
    position: relative;
    margin: 0 auto;
    width: 1146px;
}

.logo {
    position: absolute;
    left: 20px;
    top: 10px;
}

.contain {
    position: absolute;
    top: 40px;
    left: 158px;
    display: flex;
    width: 949px;
    gap: 20px;
}

.all {
    display: flex;
    color: white;
    flex-direction: column;
    gap: 20px;
}

.all span {
    font-family: 'MyFont2';
}

.form {
    width: 425px;
    height: 254px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form h1 {
    font-family: 'MyFont';
    font-weight: 700;
    font-size: 16px;
    color: white;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flex input {
    height: 40px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 197, 61, 1);
    padding: 10px;
    color: white;
    font-size: 16px;
    font-family: 'MyFont';
}

.flex input::placeholder {
    color: white;
    font-size: 16px;
    font-family: 'MyFont2';
    font-weight: 400;
}

.form h2 {
    font-size: 14px;
    font-family: 'MyFont5';
    font-weight: 400;
    color: rgb(221, 221, 221);
}

.send {
    cursor: pointer;
}

.onCart {
    width: 322px;
    height: 257px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.onCart h1 {
    font-family: 'MyFont';
    font-size: 16px;
    color: white;
}

.map {
    width: 120%;
}

.footer {
    position: absolute;
    bottom: 17px;
    left: 40px;
    width: 1060px;
    height: 48px;
    padding-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
}

.icons {
    display: flex;
    gap: 10px;
    cursor: pointer;
}